body {
  background-color: rgb(1, 18, 34);
  margin: 0%;
  padding: 0%;
}

.titulo {
  margin-left: 2%;
  color: azure;
  font-family: 'Lato', sans-serif;
  font-size: 400%;
}


.imagenpre {
  margin-top: 5%;
  width: 99%;
  height: 110%;
  margin-left: 0%;
  align-items: center;
}

.texto {
  margin-left: 2%;
  color: azure;
  font-family: 'Lato', sans-serif;
  font-size: 50%;
}